@import "../partials.scss";

h1, p {
    margin-bottom: 10px;
}

span { color: $sub-text; }
p {
    color: $sub-text;
    text-align: center;
}
h1 {
    color: $default-text;
    text-align: center;
    font-size: 1.5em;
}

a {
  text-decoration: none;
}

.link-wrapper { 
  text-align: center;
}