$bg: #212121;
$fg: #212121;
$font: Helvetica;

$default-text: #4a4a4a;
$sub-text: #8f8f8f;

$nav: #b4b4b4;
$nav-visited: #a3a3a3;
$nav-hover: #c8c8c8;
$nav-active: #ebebeb;

$anchor: #b4b4b4;
$anchor-visited: #a3a3a3;
$anchor-hover: #c8c8c8;
$anchor-active: #ebebeb;

$header: #fb4934;