@use 'partials' as *;

* {
  margin: 0;
  padding: 0;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
}

#root,
.app-wrapper {
  background-color: $bg;
}

.app-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  transition: height 2s;
}

p,
a,
h1,
h2,
h3,
h4,
h5 {
  font-family: $font;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.75em;
}
p {
  font-size: 1.25em;
  line-height: 1.5;
}

span {
  color: $sub-text;
}

a {
  text-decoration: none;
}

a:link {
  color: $anchor;
}
a:visited {
  color: $anchor-visited;
}
a:hover {
  color: $anchor-hover;
}
a:active {
  color: $anchor-active;
}
