@use '../../partials' as *;

.home {
  margin-top: 50px;
  padding: 0 20px;
  height: calc(100% - 50px);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 750px;
  }

  &__name {
    color: $default-text;
    font-family: $font;
    margin-bottom: 50px;
    text-align: center;
  }

  &__desc {
    color: $sub-text;
    font-family: $font;
    margin-bottom: 50px;
    text-align: center;
  }

  &__social-bar {
    &__icon {
      width: 25px;
      height: 25px;
      display: inline;
      margin: 0 5px;
      pointer-events: none;
    }
  }
}
